*/runs/*
playground/runs/*
ipcontroller.pid
ipcontroller_config.py
tasks.db
*.png
*.eps
*.pkl
*.out 
.ipynb_checkpoints
*/.ipynb_checkpoints/*
**/.DS_Store
*__pycache/*
pipeline_extraction*
!*py
playground/runs/*
**.nwb
**.pkl
**.csv
**.hdf5
**.h5
**__pycache__**
**/x86_64/**
*pkl
*.hdf5
**/*.hdf5
**/*.pkl
**archive**
**/archive/**
*.nwb
**/*.nwb

